$dark-blue: hsl(231,53%,40%);
$dark-yellow: hsl(46,94%,69%);
$light-yellow: hsl(47,92%,89%);

$g-red: hsl(5,69%,54%);
$g-green: hsl(151,83%,34%);
$g-blue: hsl(217,89%,61%);
$g-yellow: hsl(44,100%,48%);

$error: #b00020;