@use '@material/theme/color-palette';
@use './colors' as *;


@use '@material/theme/index' as theme with (
  /*   $primary: color-palette.$purple-500,
  $secondary: color-palette.$teal-600,
  $surface: #fff,
  $error: #b00020, */
  $background: white,
  $primary: $dark-blue,
  $on-primary: white,
  $secondary: $dark-yellow,
  $on-secondary: black,
  $surface: $light-yellow,
  $on-surface: black,
  $error: $error
);

html,
body {
  background-color: white;
};

a {
  color: color-palette.$blue-500;
};
a:visited {
  color: color-palette.$blue-800;
};