<script lang="ts">
  import Button, { Icon, Label } from "@smui/button/styled";
  import Switch from '@smui/switch/styled';
  import FormField from '@smui/form-field/styled';
  import JobDialog from './JobDialog.svelte';

  let open = false;
  export let fullTable = false;
</script>


<div class="container" style="text-align: center">
  <span class="container-items">
    <Button on:click={() => open = true} touch variant="raised">
      <Icon class="material-icons">person_add</Icon>
      <Label>Add Job</Label>
    </Button>
  </span>
  <span class="container-items">
    <FormField>
      <Switch color="primary" bind:checked={fullTable} />
      <span slot="label">Show all jobs</span>
    </FormField>
  </span>
</div>

<JobDialog bind:open/>

<style>
  .container-items{
    padding-left: 10px;
    padding-right: 10px;
  }
</style>