<script lang="ts">
  import CurrentJobsTable from './CurrentJobsTable.svelte';
  import JobsView from './JobsView.svelte';
  import Chart from './Chart.svelte';
  import {addJobs} from './addRemoveJobs';
  import {lastMonthUpdated, currentJobData, recurringJobs, archiveJobData} from './stores.js';
  import { moveToArchive, pushNewJobs } from './monthlyUpdater';
  import {onMount} from 'svelte';
  import ArchiveJobsTable from './ArchiveJobsTable.svelte';


  onMount( () => {
    // monthly updater: move old paid jobs to archive, move old cancelled jobs to archive (changing rate to 0), create new jobs that are recurring
    const currentDate = new Date();
    const currentMonth = currentDate.toISOString().slice(0,7);
    if (currentMonth > $lastMonthUpdated){
      pushNewJobs($currentJobData, $recurringJobs);
      const [c, a] = moveToArchive($currentJobData,$archiveJobData);
      $lastMonthUpdated = currentMonth;
      $currentJobData = c;
      $archiveJobData = a;
    }
    //  // move old jobs to archive
//
//
    //  // add jobs
    //  $recurringJobs.forEach(jobName => {
    //    // find last index of job
    //    let lastIndex = -1;
    //    $currentJobData.forEach( (job, index) =>{
    //      if (job.name == jobName){
    //        lastIndex = index;
    //      }
    //    })
    //    if (lastIndex != -1){
    //      addJobs(jobName,$currentJobData[lastIndex].date,$currentJobData[lastIndex].rate);
    //    }
    //  })
    //}
  })
</script>

<div style="max-width:100vw; overflow-x: auto;">
  <CurrentJobsTable/>
</div>

<hr/>
<button onClick="localStorage.clear(); window.location.reload(false)">Reset Data</button>

<JobsView/>

<hr/>

<Chart/>

<hr/>

<ArchiveJobsTable/>
