<script lang="ts">
	import SvelteTable from "svelte-table";
  import {archiveJobData} from './stores.js';
  import {onMount, tick} from 'svelte';

  let selection = { date: new Date().getMonth()}, mounted = false;
  let names = [];
  $archiveJobData.forEach(job => {
    if (!names.includes(job.name)){
      names.push(job.name)
    }
  });

  let total = 0;

  $: colorRows(selection,$archiveJobData);
  $: total = sumMonth(selection);

  const colorClasses = ["color-one", "color-two", "color-three", "color-four"]
  onMount(()=> mounted=true);
  async function colorRows(sel,_){
    if (mounted){
      await tick();
      let jobNames = [], colorArray = [], lastColorIndex=3;
      const rows = document.querySelector('.table-archive').rows;
      const l = rows.length;
      if(sel.name==undefined){ // selection not based on name: do a new color per job
        for (let i = 2; i < l; i++) { 
          const row = rows[i].childNodes;
          const l2 = row.length;
          // assign a color
          let jobName = row[1].innerHTML.trim();
          let jobIndex = jobNames.indexOf(jobName);
          let currentColorIndex: number;
          if (jobIndex == -1){ // new color
            lastColorIndex = (lastColorIndex+1)%4;
            jobNames.push(jobName);
            colorArray.push(lastColorIndex);
            currentColorIndex = lastColorIndex;
          } else{
            currentColorIndex = colorArray[jobIndex];
          }
          // color row
          for (let j = 0; j < l2; j++) {
            removeColors(row[j]);
            row[j].classList.add(colorClasses[currentColorIndex]);
          }
        }
      } else{ // selection based on name, do alternating coloring
        let colorIndex = 0;
        for (let i = 2; i < l; i++) { 
          const row = rows[i].childNodes;
          const l2 = row.length;
          // color row
          for (let j = 0; j < l2; j++) {
            removeColors(row[j]);
            row[j].classList.add(colorClasses[colorIndex]);
          }
          colorIndex = (colorIndex+2)%4;
        }
      }
    } 
  }
  function sumMonth(sel): number {
    let total = 0;
    if (sel.date !== undefined && sel.name == undefined){
      const jobsForMonth = $archiveJobData.filter( job => Number(job.date.slice(5,7)==sel.date));
      jobsForMonth.forEach( job => {
        total += job.rate;
      })
    }
    return total;
  }
// define column configs
const columns = [
  {
    key: "date",
    title: "Date",
    value: v => v.date,
    sortable: true,
    class: "date",
    headerClass: "header",
    renderValue: (v) => `${v.date.slice(5,7)}/${v.date.slice(8,10)}`,
    filterValue: v => Number(v.date.slice(5,7)),
    filterOptions: () => {
      let months = [
      {name: "Jan", value: 1},
      {name: "Feb", value: 2},
      {name: "Mar", value: 3},
      {name: "Apr", value: 4},
      {name: "May", value: 5},
      {name: "Jun", value: 6},
      {name: "Jul", value: 7},
      {name: "Aug", value: 8},
      {name: "Sep", value: 9},
      {name: "Oct", value: 10},
      {name: "Nov", value: 11},
      {name: "Dec", value: 12}
    ];
      return  months
    }
  },
  {
    key: "name",
    title: "Name",
    value: v => v.name,
    sortable: true,
    headerClass: "header",
    filterValue: v => v.name,
    filterOptions: names
  },
  {
    key: "rate",
    title: "Rate",
    sortable: true,
    value: v => v.rate,
    class: "rate",
    headerClass: "header"
  },
  {
    key: "comments",
    title: "Comments",
    value: v => v.comments ? v.comments : "-",
    headerClass: "header"
  }
];
function removeColors(cell: any) {
  cell.classList.remove("color-one");
  cell.classList.remove("color-two");
  cell.classList.remove("color-three");
  cell.classList.remove("color-four");
}
</script>

<h2 style="text-align:center">Jobs Archive</h2>

<SvelteTable 
  columns="{columns}"
  rows="{$archiveJobData}"
  on:clickCol={()=>colorRows(selection,$archiveJobData)}
  bind:filterSelections="{selection}"
  classNameTable="table-archive">
</SvelteTable>
{#if total!=0}
<h3 style="text-align: center">Monthly total: ${total}</h3>
{/if}

<style lang="scss">
  @use "../theme/colors" as *;
  :global(.table-archive){
    border-collapse: collapse;
    white-space: nowrap;
  }
  :global( .table-archive td ) {
    border: 1px solid white;
    padding: 10px 5px;
  }
  :global(.color-one){
    background-color: rgba($g-blue, 20%);
  }
  :global(.color-two){
    background-color: rgba($g-red, 20%);
  }
  :global(.color-three){
    background-color: rgba($g-yellow, 20%);
  }
  :global(.color-four){
    background-color: rgba($g-green, 20%);
  }
</style>