<script lang="ts">
  import Button, { Label } from "@smui/button/styled";
  import Dialog, { Title, Content, Actions } from '@smui/dialog/styled';
  import TextField from '@smui/textfield/styled';
  import Switch from '@smui/switch/styled';
  import FormField from '@smui/form-field/styled';
  import {currentJobData, recurringJobs} from './stores.js';
  //import {tick} from 'svelte';
  //import {colorRows} from './colorRows';
  import {removeJobs} from './addRemoveJobs';

  export let open = false;
  export let id = 0;
  export let name = "";
  export let selectedStatusCode = 0;
  export let rate = 160;
  export let date = new Date().toISOString().slice(0,10);
  export let comments = "";
  export let recurring = false;
  let recurringDelete = false;

  const statusChoices = ['scheduled', 'delivered', 'paid', 'cancelled'];
  let selectedStatus: string, statusText: string;
  $: selectedStatus = statusChoices[selectedStatusCode];
  $: statusText = selectedStatus.charAt(0).toUpperCase() + selectedStatus.slice(1);

  export let confirmChangeFunction = async function addJobHandler(){
    $currentJobData.splice(id, 1); // remove element
    $currentJobData.forEach( (_,i) => {  // reset IDs
      $currentJobData[i].id = i;
    })
    $currentJobData = $currentJobData;
    if (recurringDelete){
      removeJobs(name,date);
      const i = $recurringJobs.indexOf(name);
      if (i > -1){
        $recurringJobs.splice(i, 1);
        $recurringJobs = $recurringJobs;
      }

    }
  }
</script>

<Dialog
  bind:open
  aria-labelledby="cancel-job"
  aria-describedby="cancel-job-dialog"
>
  <Title id="cancel-job-title">Delete a job</Title>
  <Content id="add-job-content">
    <div class="add-job-section">
      Please check the job for deletion.
    </div>
    <div class="add-job-section">
      <TextField bind:value={statusText} label="Status" disabled/>
    </div>
    <div class="add-job-section">
      <TextField bind:value={name} label="Name" required disabled/>
    </div>
    <div class="add-job-section">
      <TextField bind:value={rate} label="Rate" required type="number" disabled/>
    </div>
    <div class="add-job-section">
      <TextField bind:value={date} label="Date" required type="Date" disabled/>
    </div>
    <div class="add-job-section">
      <TextField bind:value={comments} label="Comments" textarea disabled/>
    </div>
    <!--Switch for recurring-->
    {#if recurring}
      <div class="add-job-section">
        <FormField>
          <Switch bind:checked={recurringDelete} color="primary"/>
          <span slot="label">Delete future jobs and remove from recurring jobs</span>
        </FormField>
      </div>
    {/if}
    <div class="add-job-section">
      Confirm deletion? (cannot be undone)
    </div>
  </Content>
  <Actions>
    <Button on:click={confirmChangeFunction}>
      <Label>Confirm</Label>
    </Button>
    <Button>
      <Label>Cancel</Label>
    </Button>
  </Actions>
</Dialog>

<style>
  :global(.add-job-section){
    padding: 10px 0px 0px;
  }
</style>