<script lang="ts">
import {currentJobData, archiveJobData, yearlyArchiveData} from './stores.js';
import {onMount} from 'svelte';
let mounted = false, d3Loaded = false;
let viewWidth = 390;
const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

let allCurrentJobs: any[], monthlyData: number[], max=10000;
$: allCurrentJobs = [...$currentJobData, ...$archiveJobData];
$: [monthlyData, max1] = consolidateMonths(allCurrentJobs);
$: [averageData, max2] = consolidateArchives($yearlyArchiveData)
$: refreshChart(monthlyData, averageData);


function consolidateMonths(jobs:any[]): any[]{
  let monthlyEarnings = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
  jobs.forEach( (job,i) => {
    if (job.status==2){
      monthlyEarnings[Number(job.date.slice(5,7))-1] += job.rate; 
    }
  })
  let monthlyData = [];
  let max = 0;
  monthlyEarnings.forEach( (v,i) => {
    if (v > 0){
      monthlyData.push({month: months[i], value: v})
      if (v > max){
        max = v;
      }
    }
  })
  return [monthlyData, max];
}
function consolidateArchives(yearArchive:any[]): any[]{
  let n = 0, monthlyEarnings = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
  yearArchive.forEach( year => {
    year.jobs.forEach( job => {
      monthlyEarnings = monthlyEarnings.map((v, i)=>{
        return v + job.paid[i];
      })
      n++;
    })
  })
  const average = monthlyEarnings.map( e => {
    return e/n;
  })
  let averageData = [], max = 0;
  average.forEach( (v,i) => {
    averageData.push({month: months[i], value: v})
    if (v > max){
      max = v;
    }
  })
  return [averageData, max];
}

onMount( () => {
  mounted = true;
  viewWidth = window.innerWidth;
  if (d3Loaded){
    chart();
  }
})
function initializeD3(){
  d3Loaded = true;
  if (mounted){
    chart();
  }
}

function refreshChart(jobs,archive){
  if (mounted && d3Loaded){
    chart();
  }
}

function chart() {
// set the dimensions and margins of the graph
var margin = {top: 10, right: 0, bottom: 70, left: 0},
    width = viewWidth - margin.left - margin.right,
    height = 400; - margin.top - margin.bottom;
// append the svg object to the body of the page
let max = Math.max(max1,max2)
var yMax = 1.1*max;
d3.selectAll("#my_dataviz > *").remove();
var svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");
// X axis
var x = d3.scaleBand()
  .range([ 0, width ])
  .domain(averageData.map(function(d) { return d.month; }))
  .padding(0.2);
svg.append("g")
  .attr("transform", "translate(0," + height + ")")
  .call(d3.axisBottom(x))
  .selectAll("text")
    .style("text-anchor", "middle");
// Add Y axis
var y = d3.scaleLinear()
  .domain([0, yMax])
  .range([ height, 0]);
//svg.append("g")
//  .attr("transform", "translate(" + (width).toString() + ",0)")
//  .call(d3.axisRight(y));
// Bars
svg.selectAll("mybar")
  .data(monthlyData)
  .enter()
  .append("rect")
    .attr("x", function(d) { return x(d.month); })
    .attr("y", function(d) { return y(d.value); })
    .attr("width", x.bandwidth())
    .attr("height", function(d) { return height - y(d.value); })
    .attr("fill", "#303f9f")
svg.append("path")
  .datum(averageData)
  .attr("fill", "none")
  .attr("stroke", "black")
  .attr("stroke-width", 1.5)
  .attr("d", d3.line()
    .x(function(d) { return x(d.month)+x.bandwidth()/2 })
    .y(function(d) { return y(d.value) })
    )
svg.append("g")
  .selectAll("dot")
  .data(averageData)
  .enter()
  .append("circle")
  .attr("cx", function(d) { return x(d.month)+x.bandwidth()/2 } )
  .attr("cy", function(d) { return y(d.value) } )
  .attr("r", 5)
  .attr("fill", "black")
svg.append("g")
  .selectAll("text")
  .data(monthlyData)
  .enter()
  .append("text")
    .attr("x", function(d) { return x(d.month) + x.bandwidth()/2; })
    .attr("y", function(d) { return y(d.value) - 10; })
    .attr("text-anchor", "middle")
    .text(function(d) {return (d.value)})
svg.append("g")
  .attr("fill", "none")
  .attr("stroke", "black")
  .attr("stroke-width", "2")
  .append("path")
    .attr("d", `M0 ${y(max)} ${x("Dec")+x.bandwidth()} ${y(max)}`)
    .attr("stroke-dasharray", function() { return "10,10"; });
svg.append("g")
  .append("text")
    .attr("x", function() { return x("Jan"); })
    .attr("y", function() { return y(max) + 10; })
    .attr("text-anchor", "start")
    .attr("dominant-baseline", "hanging")
    .text(function() {return (max)})
}
</script>

<h2 style="text-align:center">Monthly: {new Date().toISOString().slice(0,4)} vs History</h2>
<svelte:head>
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js" on:load={initializeD3}></script>
</svelte:head>

<div id="my_dataviz"></div>