<script lang="ts">
	import SvelteTable from "svelte-table";
  import {currentJobData, recurringJobs} from './stores.js';
  import {onMount, tick} from 'svelte';
  import {colorRows} from './colorRows';
  import JobDialog from './JobDialog.svelte';
  import CancelDialog from './CancelDialog.svelte';
  import AddJobButton from './AddJobButton.svelte';

  const jobClasses = ["scheduled", "delivered", "paid", "cancelled"];
  let editOpen = false; // Edit Job Dialog
  let cancelOpen = false; // Edit Job Dialog

  // variables for editing jobs 
  let id = 0;
  let selectedStatus = 0;
  let date = "";
  let rate = 0;
  let name = "";
  let comments = "";
  let recurring = false;
  let fullTable = false;

  let data: any[];
  $: updateFullTable(fullTable, $currentJobData);

  async function updateFullTable(fullTable: boolean, jobData: any[]){
    if (fullTable){
      data = jobData;
    } else{
      data = jobData.filter( job => {
        const currentDate = new Date();
        const oneWeekAgo = new Date();
        const oneWeekLater = new Date();
        oneWeekAgo.setDate(currentDate.getDate()-7);
        oneWeekLater.setDate(currentDate.getDate()+7);
        // show jobs that are within one week of today
        const withinOneWeek = job.date > oneWeekAgo.toISOString().slice(0,10) && job.date < oneWeekLater.toISOString().slice(0,10);
        // also show old jobs that are not settled (scheduled)
        const oldUnresolvedJobs = job.status == 0 && job.date < currentDate.toISOString().slice(0,10);
        return ( withinOneWeek || oldUnresolvedJobs )
      })
    };
    await tick();
    colorRows(true);
  }
  // initial coloring of rows;
  onMount( () => {
    colorRows();
  });

  // table click handler
  async function clickCell(event) {
    // get job details
    id = event.detail.row.id;
    date = event.detail.row.date;
    rate = event.detail.row.rate;
    name = event.detail.row.name;
    comments = event.detail.row.comments;
    selectedStatus = event.detail.row.status;
    const columnName = event.detail.key;
    if (columnName == "status"){
      const newJobState = (selectedStatus+1)%4 // get new status
      $currentJobData[id].status= newJobState; // update data
      await tick(); // dom updating
      colorRows(true);
    } else if (columnName == "edit"){
      if ($recurringJobs.indexOf(name)!=-1){
        recurring = true;
      } else{
        recurring = false;
      }
      editOpen = true;
    } else if (columnName == "cancel"){
      if ($recurringJobs.indexOf(name)!=-1){
        recurring = true;
      } else{
        recurring = false;
      }
      cancelOpen = true;
    }
  }
  async function clickCol(event) { // recolor table upon sort
    await tick();
    colorRows(true);
  }
  // define column configs
  const columns = [
    {
      key: "status",
      title: "Status",
      value: v => v.status,
      sortable: true,
      headerClass: "header-status",
      class: "status",
      renderValue: (v) => jobClasses[v.status]
    },
    {
      key: "date",
      title: "Date",
      value: v => v.date,
      sortable: true,
      class: "date",
      headerClass: "header",
      renderValue: (v) => `${v.date.slice(5,7)}/${v.date.slice(8,10)}`
    },
    {
      key: "name",
      title: "Name",
      value: v => v.name,
      sortable: true,
      headerClass: "header"
    },
    {
      key: "rate",
      title: "Rate",
      value: v => v.rate,
      sortable: true,
      class: "rate",
      headerClass: "header"
    },
    {
      key: "comments",
      title: "Comments",
      value: v => v.comments ? v.comments : "-",
      sortable: true,
      headerClass: "header"
    },
    {
      key: "edit",
      title: "",
      value: 0,
      sortable: false,
      class: "edit",
      headerClass: "plain-header",
      renderValue: () => `<Icon class="material-icons">edit</Icon>`
    },
    {
      key: "cancel",
      title: "",
      value: 0,
      sortable: false,
      class: "cancel",
      headerClass: "plain-header",
      renderValue: () => `<Icon class="material-icons">cancel</Icon>`
    }
  ];
</script>

<h2 style="text-align:center">Current Jobs</h2>
<SvelteTable 
  columns="{columns}"
  rows="{data}"
  on:clickCell="{clickCell}"
  on:clickCol="{clickCol}"
  classNameTable="table">
</SvelteTable>
<AddJobButton bind:fullTable />

<JobDialog
  editMode={true}
  bind:open={editOpen}
  bind:name
  bind:rate
  bind:date
  bind:comments
  bind:selectedStatusCode={selectedStatus}
  bind:id
  bind:recurring
/>
<CancelDialog
  bind:open={cancelOpen}
  bind:name
  bind:rate
  bind:date
  bind:comments
  bind:selectedStatusCode={selectedStatus}
  bind:id
  bind:recurring
/>

<style lang="scss">
  @use "../theme/colors" as *;
  $status-width: 80px;
  $material-default-purple: #6200EE;
  $material-default-error: #B00020;
  $primary: hsl(15, 100%, 60%);

  :global(.table){
    border-collapse: collapse;
    white-space: nowrap;
  }
  :global(.header-status){
    text-align: center;
    vertical-align: middle;
    width: $status-width;
    font-size: 16px;
    font-weight: 600;
    background-color: hsl(0,0%,75%);
    cursor: pointer;
    user-select: none;
    padding: 5px;
    border-left: 1px solid white;
  }
  :global(.header){
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
    background-color: hsl(0,0%,75%);
    cursor: pointer;
    user-select: none;
    padding: 5px;
    border: 1px solid white;
  }
  :global(.plain-header){
    background-color: hsl(0,0%,75%);
    user-select: none;
    padding: 5px;
  }
  :global(.status){
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    width: $status-width;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    padding: 10px 5px;
    display: inline-block;
    user-select: none;
    font-family: "Roboto";
    border: 1px solid white;
  }
  :global(.edit){
    color: $dark-blue;
    cursor: pointer;
    user-select: none;
    width: 2ch;
  }
  :global(.cancel){
    color: $g-red;
    cursor: pointer;
    user-select: none;
    width: 2ch;
  }
  :global(.date){
    text-align: center;
    width: 6ch;
  }
  :global(.rate){
    text-align: center;
    width: 4ch;
  }
  :global(.scheduled){
    background-color: $g-yellow;
  }
  :global(.delivered){
    background-color: $g-blue;
  }
  :global(.paid){
    background-color: $g-green;
  }
  :global(.cancelled){
    background-color: $g-red;
  }
  $transparency: 0.3;
  :global(.scheduled-background){
    background-color: rgba($g-yellow,$transparency);
    padding: 0px 5px;
    border: 1px solid white;
  }
  :global(.delivered-background){
    background-color: rgba($g-blue, $transparency);
    padding: 0px 5px;
    border: 1px solid white;
  }
  :global(.paid-background){
    background-color: rgba($g-green,$transparency);
    padding: 0px 5px;
    border: 1px solid white;
  }
  :global(.cancelled-background){
    background-color: rgba($g-red,$transparency);
    padding: 0px 5px;
    border: 1px solid white;
  }
</style>