<script lang="ts">
  import Button, { Icon, Label } from "@smui/button/styled";
  import Dialog, { Title, Content, Actions } from '@smui/dialog/styled';
  import Chip, {Set, Text} from '@smui/chips/styled';
  import TextField from '@smui/textfield/styled';
  import Switch from '@smui/switch/styled';
  import FormField from '@smui/form-field/styled';
  import {currentJobData, uniqueIDs, recurringJobs} from './stores.js';
  import {tick} from 'svelte';
  import {colorRows} from './colorRows';
  import {addJobs, removeJobs} from './addRemoveJobs';

  export let open = false;
  export let editMode = false;
  export let name = "";
  export let selectedStatusCode = 0;
  export let rate = 160;
  export let date = new Date().toISOString().slice(0,10);
  export let comments = "";
  export let recurring = false;
  export let id = 0;

  let daysMultiple = 7;
  let recurringName = false;
  let recurringRate = false;
  let recurringDate = false;
  const statusChoices = ['scheduled', 'delivered', 'paid', 'cancelled'];
  let selectedStatus: string
  $: selectedStatus = statusChoices[selectedStatusCode];

  $: if (!open){ // resets comments and recurringChange
    comments = "";
    recurringName = false;
    recurringRate = false;
    recurringDate = false;
  }

  let confirmAddFunction = async () => {
    const lastID = $currentJobData.length == 0 ? -1 : $currentJobData[$currentJobData.length-1].id;
    let newID = lastID + 1;
    const status = statusChoices.indexOf(selectedStatus);
    $currentJobData.push({ id: newID, status: status, date: date, name: name, rate: rate, comments: comments })
    if (recurring){
      addJobs(name,date,rate,daysMultiple);
      if (!$recurringJobs.includes(name)){
        $recurringJobs = [...$recurringJobs, name];
      }
    } else{
      $currentJobData = $currentJobData;
    }
    await tick();
    colorRows(true);
  }

  let confirmEditFunction = async () => {
    let status = statusChoices.indexOf(selectedStatus);
    const oldName = $uniqueIDs[id].slice(5);
    $currentJobData[id].status = status;
    $currentJobData[id].date = date;
    $currentJobData[id].name = name;
    $currentJobData[id].rate = rate;
    $currentJobData[id].comments = comments;
    if (recurringName){
      const i = $recurringJobs.indexOf(oldName);
      if (i != -1){
        $recurringJobs[i] = name;
        $recurringJobs = $recurringJobs;
      }
      $currentJobData.forEach( (row, i) => { 
        console.log(row.name)
        if (row.name==oldName){
          $currentJobData[i].name = name;
        }
      })
    }
    if (recurringRate){
      $currentJobData.forEach( (row, i) => { 
        if (row.name==name && date < row.date){
          $currentJobData[i].rate = rate;
        }
      })
    }
    if (recurringDate){
      removeJobs(name,date);
      addJobs(name,date,rate,daysMultiple);
    }
    $currentJobData = $currentJobData;
    await tick();
    colorRows();
  }
</script>

<Dialog
  bind:open
  scrimClickAction=""
  escapeKeyAction=""
  aria-labelledby="add-job"
  aria-describedby="add-job-dialog"
>
  <Title id="add-job-title">{editMode ? "Edit" : "Add"} a Job</Title>
  <Content id="add-job-content">
    {#if editMode}
      <div class="add-job-section">
        Add/Edit Button
      </div>
    {/if}
    <div class="add-job-section">
      Status:<br>
      <Set chips={statusChoices} let:chip choice bind:selected={selectedStatus}>
        <Chip {chip}>
          <Text>{chip.toUpperCase()}</Text>
        </Chip>
      </Set>
    </div>
    <div class="add-job-section">
      <TextField bind:value={name} label="Name" required/>
    </div>
    {#if !name}
      <div class="error">
          * Name required
      </div>
    {/if}
    <div class="add-job-section">
      <TextField bind:value={rate} label="Rate" required type="number" input$step="5"/>
    </div>
    {#if !rate}
      <div class="error">
          * Rate required
      </div>
    {/if}
    <div class="add-job-section">
      <TextField bind:value={date} label="Date" required type="Date"/>
    </div>
    {#if !date}
      <div class="error">
          * Date required
      </div>
    {/if}
    <div class="add-job-section">
      <TextField bind:value={comments} label="Comments" textarea/>
    </div>
    <!--Switch for recurring-->
    {#if editMode && recurring}
      <div class="add-job-section">
        <FormField>
          <Switch bind:checked={recurringName} color="primary"/>
          <span slot="label">Change name for past/future jobs</span>
        </FormField>
      </div>
      <div class="add-job-section">
        <FormField>
          <Switch bind:checked={recurringRate} color="primary"/>
          <span slot="label">Change rate for future jobs</span>
        </FormField>
      </div>
      <div class="add-job-section">
        <FormField>
          <Switch bind:checked={recurringDate} color="primary"/>
          <span slot="label">Change date for future jobs</span>
        </FormField>
      </div>
    {:else if editMode==false} <!-- Adding a job-->
      <div class="add-job-section">
        <FormField>
          <Switch bind:checked={recurring} color="primary"/>
          <span slot="label">Recurring</span>
        </FormField>
      </div>
    {/if}
  </Content>
  <Actions>
    <Button on:click={editMode ? confirmEditFunction : confirmAddFunction} class={ (name && rate && date) ? "confirm-button" : "hide"}>
      <Label>Confirm</Label>
    </Button>
    <Button>
      <Label>Cancel</Label>
    </Button>
  </Actions>
</Dialog>

<style lang="scss">
  @use "../theme/colors" as *;
  :global(.add-job-section){
    padding: 10px 0px 0px;
  }
  :global(.hide){
    display: none;
  }
  :global(.error){
    font-size: 10px;
    color: $error;
  }
</style>